---

---

<div class="menu">
  <div class="wrapper">
    <img src="/img/logo-menu.png" alt="Logo del menú - Yarashop" />
    <nav>
      <a href="/">INICIO</a>
      <a href="">BLOG</a>
      <a href="/login">LOGIN</a>
      <a href="/registro" class="btn2">REGÍSTRATE</a>
    </nav>
  </div>
</div>

<style>
  .menu {
    background-color: var(--primary-900);
    padding: 16px 0px;
  }

  .menu .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu img {
    height: 4rem;
  }

  .menu nav {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
  }

  .menu nav a {
    color: var(--light);
    font-weight: bold;
  }
</style>
